.membership-container{
   display: flex;
   padding: 30px;
   background-image: linear-gradient(#0F2027, #203A43, #2C5364);


}

.membership-btn{
    border: 2px solid black;
    border-radius: 5px;
    background-image: linear-gradient(#c04848, #480048);
    margin: 0 auto;
}

.membership-btn:hover{
    background-image: linear-gradient(#c31432, #240b36);
}