.discover{
    border: 2px solid;
    border-radius: 5px;
    border-color: black;
    background-image: linear-gradient(#c04848, #480048);
}
.discover:hover{
    background-image: linear-gradient(#c31432, #240b36);
    border-color: black;
}
.ideas-container{
    position: relative;
  text-align: center;
  color: white;
}

.idea-container{
    
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      
}


  
  