.quote{
    background-color: whitesmoke;
    color: black;
    border-width: 1px solid;
    border-radius: 10px;
    box-shadow: 5px 5px 5px  black;
}
.quote-container{
    background-image: linear-gradient(#0F2027, #203A43, #2C5364);
}



