.profile1{
    width: 100%;
   
}
 .profile-button{
    color: white;
    background-color: rgb(55 65 81);
    border-color: black;
 }

 .profile-button:hover{
    color: white;
    background-color:rgb(39, 35, 35) ;
 }

 .profile-card{
    background-color: rgb(184, 56, 77);
 }

 .content-buttons{
    text-decoration: none;
    color: aliceblue;
 }
 .description-container{
   background-image: linear-gradient(#0F2027, #203A43, #2C5364);
 }
 @media only screen and (min-width:577px) and (max-width:992px){
    .description-container{
        grid-template-columns: repeat(2, 1fr);
    }
}